//- ul(class="app__main", id="app--list")
//-  div(class="desktop__controle input__box")
//-   div(class="left" id="left--items")
//-    .
//-     0 items left
//-   .desktop__buttons
//-     button(class="control--button active--btn" data-name="all") All
//-     button(class="control--button" data-name="active") Active
//-     button(class="control--button" data-name="completed") Completed 
//-   button(class="clear control--button" data-name="clear--completed") Clear Completed

main.app__main
  ul#app--list
  div(class="control--buttons input__box")
    div(class="left" id="left--items") 0 items left
    .desktop__control
      button(class="control--button active--btn" data-name="all") All
      button(class="control--button" data-name="active") Active
      button(class="control--button" data-name="completed") Completed 
    button(class="clear control--button" data-name="clear--completed") Clear Completed
  div(class="mobile--controls input__box")
      button(class="control--button active--btn" data-name="all") All
      button(class="control--button" data-name="active") Active
      button(class="control--button" data-name="completed") Completed 
