.attribution
    .
        Challenge by
    a(href="https://www.frontendmentor.io/challenges/todo-app-Su1_KokOW/hub/todo-app-R5BmbjOpS" target="_blank") Frontend Mentor
    .
        Coded by 
    a(href="https://github.com/AbdallaRahmah") Ben Rahmah