@use "./../abstract/place_holders";

// app header component
.app__header {
 width: 100%;
 height: 18%;
 display: flex;
 align-content: space-between;
 justify-content: space-between;
 flex-wrap: wrap;

 @media(min-width: 576px) {
  & {
   height: 20%;
  }
 }

 .header__title {
  width: 50%;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 5px;
 }

 .header--toggle {
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border: none;
  overflow: hidden;
  cursor: pointer;

  &:active {
   transform: translate(1px, 1px);
  }

  .toggle__img {
   height: 100%;
   width: 100%;
  }
 }

 .header--input {
  width: 100%;
  height: 2.7rem;
  background-color: var(--task-bac-clr);
  border-radius: 3px;
  overflow: hidden;
  position: relative;

  @media(min-width:576px) {
   & {
    height: 3.2rem;
   }
  }

  .input--btn {
   @extend %check--button;
  }

 }

 .input__task {
  padding: .5rem;
  width: 85%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.1rem;
  background-color: transparent;
  color: var(--text-clr-400);
  font-weight: bold;
  border: none;

  &:focus {
   outline: none
  }
 }
}