@use "./../abstract/variables";

@use "./_app__header";

.app {
 margin: 2rem 0;
 width: min(85%, 475px);
 height: calc(100% - 6rem);
 display: flex;
 flex-direction: column;

 @media(min-width: 576px) {
  & {
   margin: 3rem 0;
  }
 }
}