.app__main {
 margin-top: 1.5rem;
 height: calc(82% - 1.5rem);
 overflow: hidden;

 @media(min-width:576px) {
  & {
   margin-top: 2rem;
   height: calc(80% - 2rem);
  }
 }

 ul {
  width: 100%;
  height: calc(100% - 6.9rem);
  overflow-y: auto;
  cursor: pointer;

  &::-webkit-scrollbar {
   width: .25rem;
  }

  &::-webkit-scrollbar-thumb {
   background-color: hsl(280deg, 87%, 65%);
   border-radius: 4px;
  }

  @media(min-width: 576px) {
   & {
    height: calc(100% - 3.2rem);
   }

   &::-webkit-scrollbar {
    width: .8rem;
   }
  }


  li {
   display: flex;
   align-items: center;
   justify-content: space-between;

   input[type="checkbox"] {
    width: 15%;
    height: 100%;
    cursor: pointer;
   }

   input[type="checkbox"]:is(:not(:checked)) {
    &::after {
     visibility: hidden;
    }
   }

   input[type="checkbox"]:is(:checked)~label {
    color: var(--text-clr-200);
   }

   label {
    padding-inline: 0.5rem;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--text-clr-300);
    overflow: hidden;
    transition: color .3s linear;
   }

   .delete--button {
    width: 15%;
    height: 100%;
    background-image: url("./../images/icon-cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
   }
  }
 }

 .control--buttons {
  padding-inline: 1rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media(min-width: 576px) {
   & {
    margin: 0;
    padding-inline: 1.5rem;
   }
  }

  .left {
   font-size: .8rem;
   color: var(--text-clr-300);
  }

  .desktop__control {
   display: none;

   @media(min-width: 576px) {
    & {
     display: flex;
     align-items: center;
     justify-content: center;
    }
   }

   button {
    margin-inline: .5rem;
   }
  }
 }

 .mobile--controls {
  display: flex;
  align-items: center;
  justify-content: center;

  @media(min-width: 576px) {
   & {
    display: none;
   }
  }

  button {
   margin-inline: .5rem;
  }
 }

 // .desktop__controle {
 //  padding: 0 1rem;
 //  display: flex;
 //  align-items: center;
 //  justify-content: space-between;
 //  position: sticky;
 //  bottom: 0;



 //  .desktop__buttons {
 //   height: 100%;
 //   display: none;

 //   @media(min-width: 576px) {
 //    & {
 //     display: none;
 //     align-items: center;
 //    }
 //   }

 //   button {
 //    margin: 0 .5rem;
 //    font-weight: bold;
 //   }
 //  }

 //  .clear {
 //   font-size: .8rem;
 //  }


 //  .delete--button {
 //   width: 15%;
 //   height: 100%;
 //   background-image: url("./../images/icon-cross.svg");
 //   background-repeat: no-repeat;
 //   background-position: center;
 //   cursor: pointer;
 //  }
 // }
}