@use "./../abstract/variables";

.app {
 // padding: 3rem 0;
 width: min(85%, 475px);
 height: 100%;
 display: flex;
 flex-direction: column;
 position: relative;

 // @media(min-width: 576px) {
 //  & {
 //   // padding: 4rem 0;
 //  }
 // }
}