.mobile__controle {
 // position: absolute;
 bottom: 0;
 display: flex;
 align-items: center;
 justify-content: center;

 @media(min-width: 576px) {
  & {
   display: none;
  }
 }

 button {
  margin: 0 .5rem;
  height: 100%;
  background-color: transparent;
  color: var(--text-clr-300);
  font-weight: bold;
  border: none;
  transition: .3s color ease-in-out;
  cursor: pointer;

  &:hover {
   color: var(--hover-cont-clr);
  }
 }
}