@use "./../abstract/abstract";

body {
 width: 100vw;
 height: 100vh;
 display: flex;
 justify-content: center;
 background-color: var(--body-bac-clr);
 position: relative;

 transition: {
  property: background-color, color;
  duration: .3s;
  timing-function: ease-in-out;
 }
}