@use "./../abstract/abstract";

body {
 padding: 2rem 0;
 width: 100vw;
 height: 100vh;
 display: flex;
 justify-content: center;
 background-color: var(--body-bac-clr);
 position: relative;

 transition: {
  property: background-color, color;
  duration: .3s;
  timing-function: ease-in-out;
 }

 @media(min-width: 576px) and (min-height: 576px) {
  & {
   padding: 3.5rem 0;
  }
 }
}