.attribution {
  margin-bottom: 1.5rem;
  width: min(90%, 475px);
  color: var(--text-clr-400);
  font-weight: bold;
  text-align: center;

  a {
    margin-inline: 0.3rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--ring-clr);
  }
}
